# **Python Basics and Markdown**

## *Starting with Markdown (MD)*

### Symbols

#### Headings
## 1. **Using *#* we can make heading tags like html**
# (Header 1, title)

## (Header 2, major headings)

### (Header 3, subheadings)

#### (Header 4)

##### (Header 5)

###### (Header 6)

## 2. Blockquotes

Blockquotes can hold the large chunk of text and are generally indented. They can be obtained by using Markdown symbol '>' or with <blockquote>text for blockquote</blockquote>

    >This is good

Both of the syntaxes above can render the text in indented form after clicking 'Run' in the toolbar.,2

## 3. Displaying Code in Markdown

The Code section is the part that specifies the code of different programming languages and can be rendered where inline code starts with ' `inline code goes here` ' back-ticks around it, but the block of code starts with three back-ticks ' ``` block line code goes here ``` '. Also,the Markup tag for a Code section is ' <code>code goes here<code> '.

```python
print("Hello World")

```

## 4. Links and images

[text](link)

![hello](https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg)

In [3]:
#python basics

#integer

numb1= 123
print(type(numb1))

<class 'int'>

In [17]:
# my first code

name = 'riyan'
gender = 'Male'
age = 22
course = 'Data Science'
duration = '4.5 months'

print("my name: ", name, "\nmy age: " , age, "\nmy gender: ", gender, "\nmy course: ", course, "\nmy duration: ", duration)

my name:  riyan
my age:  22
my gender:  Male
my course:  Data Science
my duration:  4.5 months

In [27]:
#program to define student details roll_no name college course year

roll_no = 160924748036
college = "LORDs"
year = 2025

print("\nmy roll_no: ", roll_no, "\nmy name: ", name, "\nmy college: ", college, "\nmy course: ", course, "\nmy year: ", year)

print("\ndata type:", type(roll_no))
print("data type:", type(name))
print("data type:", type(college))
print("data type:", type(course))
print("data type:", type(year))

my roll_no:  160924748036
my name:  riyan
my college:  LORDs
my course:  Data Science
my year:  2025

data type: <class 'int'>
data type: <class 'str'>
data type: <class 'str'>
data type: <class 'str'>
data type: <class 'int'>

# Day 4 

## input method

In [1]:
a = input()

 10

In [2]:
a = input("Enter a number value: ")

Enter a number value:  10

In [3]:
print("the value is:", a)

the value is: 10

### WAP to recieve name age and gender from user and then display with an appropirate message

In [6]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
gender = input("Enter your gender: ")

print("hello ", name, "your age is ", age, "and your gender is ", gender)

Enter your name:  riyan
Enter your age:  22
Enter your gender:  Male

hello  riyan your age is  22 and your gender is  Male

### WAP to receive values such as employee_id, roles and there salary in respective datatype

In [8]:
emp_ID = int(input("Enter your Employee ID: "))
role = input("Enter your role: ")
salary = float(input("Enter your salary"))

print("Hello ", name, "Your employee ID is ", emp_ID, "and your role ", role, "with the salary", salary)
print(type(emp_ID))
print(type(role))
print(type(salary))

Enter your Employee ID:  123
Enter your role:  engg
Enter your salary 100000000000000000000000000000000000000000000000000000

Hello  riyan Your employee ID is  123 and your role  engg with the salary 1e+53
<class 'int'>
<class 'str'>
<class 'float'>

### WAP to receivve roll_no course and fee and display datatype

In [10]:
roll_no = int(input("Enter your Rollno: "))
course = input("Enter your course: ")
fee = float(input("Enter your Fee: "))

print("your Roll number:", roll_no)
print("your Course:", course)
print("your Fee:", fee)

print(type(roll_no))
print(type(course))
print(type(fee))

Enter your Rollno:  1609
Enter your course:  CSM
Enter your Fee:  1000000

your Roll number: 1609
your Course: CSM
your Fee: 1000000.0
<class 'int'>
<class 'str'>
<class 'float'>

## Oprataors

In [13]:
'riyan ' * 10

'riyan riyan riyan riyan riyan riyan riyan riyan riyan riyan '

In [14]:
10 + 10

20

In [15]:
20 - 10

10

In [16]:
2 ** 3

8

In [17]:
"MD " + "Riyan " + "Nazeer"

'MD Riyan Nazeer'

### WAP to receive 2 numbers and preform all oparations

In [20]:
a = int(input("Enter number_1: "))
b = int(input("Enter number_2: "))

print('adding',a+b)
print('subing',a-b)
print('divide',a/b)
print('multiply',a*b)
print('power',a**b)
print('forgot',a//b)
print('mode',a%b)

Enter number_1:  70
Enter number_2:  80

adding 150
subing -10
divide 0.875
multiply 5600
power 4053621559714438683206586610901667380087522225101208374619245444800100000000000000000000000000000000000000000000000000000000000000000000000000000000
forgot 0
mode 70

## WAP to display the user name 10 times

In [36]:
name = input("Enter your name: ")

print("your name 10 times", name * 10)

Enter your name:  Riyan

your name 10 times Riyan Riyan Riyan Riyan Riyan Riyan Riyan Riyan Riyan Riyan

### WAP to recieave firest name and last name display full name

In [32]:
f_name = input("Enter your first name: ")

l_name = input("Enter your last name: ")

print("your full name: ", f_name +" "+l_name)

Enter your first name:  MD
Enter your last name:  Riyan

your full name:  MD Riyan

## Assignment oparators

### Take a value and preform assignment opration

In [39]:
a = 10
print("before:", a)
a+=10
print("after:", a)

before: 10
after: 20

In [40]:
a = 10
print("before:", a)
a-=10
print("after:", a)

before: 10
after: 0

In [41]:
a = 10
print("before:", a)
a/=10
print("after:", a)

before: 10
after: 1.0

In [42]:
a = 10
print("before:", a)
a//=10
print("after:", a)

before: 10
after: 1

In [43]:
a = 10
print("before:", a)
a*=10
print("after:", a)

before: 10
after: 100

In [44]:
a = 10
print("before:", a)
a**=10
print("after:", a)

before: 10
after: 10000000000

In [45]:
a = 10
print("before:", a)
a%=10
print("after:", a)

before: 10
after: 0

## COMMENTS USE "#" TO ADD COMMENT IN CODE

> Note: To write a comment in code cell we can use #

### comparasion opratator

##### ==, <, >, <=, <=, !=

#### WAP to compare two values after defining

In [52]:
a = 10
b = 20

#a > b,
#a < b,
#a = b,
#a == b,
#a <= b,
a >= b
#a != b,

False

### **WAP to compare two or moew values using logical operators**

In [63]:
num1=100
num2=150

(num1>100) or (num1>num2)
(num1>100) and (num1>num2)

False

### membership oparator (string) in , not in ex: 'R' in riyan = true

### **WAP to check whether your name contains a or not**

In [65]:
'a' in 'riyan'

True

### more examples

In [67]:
'a' in 'riyan'

False

In [68]:
'e' in 'riyan'

False

In [69]:
'i' in 'riyan'

True

In [70]:
'o' in 'riyan'

False

In [71]:
'u' in 'riyan'

False

### **WAP to check wheather both enntered number are identical or not**

In [73]:
num1 = int(input("Enter number_1: "))
num2 = int(input("Enter number_2: "))
print("checking :", num1 is num2)

Enter number_1:  12
Enter number_2:  13

checking : False