In [2]:
import pandas as pd
pd.__version__

'2.3.1'

In [8]:
series1 = pd.Series([10,20,30,40,50])

print(series1.size)
print(series1.ndim)
print(series1)

type(series1)

5
1
0    10
1    20
2    30
3    40
4    50
dtype: int64

pandas.core.series.Series

In [11]:
tup = ("Riyan","Amaan","Adnan")

s = pd.Series(tup)

s

0    Riyan
1    Amaan
2    Adnan
dtype: object

In [14]:
di = {101:"Riyan",102:"Amaan",103:"Adnan"}

s = pd.Series(di)

s

101    Riyan
102    Amaan
103    Adnan
dtype: object