# Heading

### Heading

# About

My name is *Uwaish Husain* who is working as a **Data Science Trainer.** Along with training profession I am involved in multiple roles as well which are as follows:

- Senior Consultant

> I love to travel.

> I love watching `movies`

**Write a markdown about Python and its feature**

`Python` is a programming language which is used for **Multipurpose**. It has following features:

- Interpreted language
- Open Source
- Platform Indepenedent
- Vast Collection of Libraries

> To know more about it [click here](https://docs.python.org/3/tutorial/index.html)

In [1]:
10+20

30

In [2]:
10-20

-10

## Identifier

In [3]:
a = 10

In [4]:
a

10

In [5]:
A = 20

In [6]:
A

20

In [7]:
a

10

In [8]:
test_123 = 10000

In [9]:
test@123 = 1000  # invalid identifier

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2838641497.py, line 1)

In [10]:
_name = 'Uwaish'

## First Code

In [14]:
name = "Uwaish Husain"

gender = "Male"

print("My name is:",name)
print("My age is:",gender)

My name is: Uwaish Husain
My age is: Male

**WAP to define name, age, course, and duration. Display the info with a message**

**WAP to define roll_no, name, college, course, and year. Display it with appropriate message**

In [15]:
type(10)

int

In [16]:
type(10.4)

float

In [17]:
type("A")

str

In [18]:
type(True)

bool

In [19]:
name = "Uwaish Husain"

type(name)

str

In [20]:
print(type(name))

<class 'str'>

In [21]:
print("The dtype of name is:",type(name))

The dtype of name is: <class 'str'>

**WAP to display the data type of each varibale in above two problems**