**WAP to receive a string from user and perform the below tasks:**

- Display the string
- Display last char
- Display first two char
- Display the reverse
- Dsiplay length of string
- Count the no. of words

In [3]:
str1 = input("Please enter your string:")
print("Entire string is:",str1)
print("Last char:",str1[-1])
print("First two char:",str1[:2])
print("Reverse string:",str1[::-1])
print("Length is:",len(str1))
print("No. of words:",len(str1.split(" ")))

Please enter your string:My name is Uwaish
Entire string is: My name is Uwaish
Last char: h
First two char: My
Reverse string: hsiawU si eman yM
Length is: 17
No. of words: 4

**WAP to create a list of first 10 natural numbers using range and perform the below tasks:**

- Display the entire list
- Display the last three ele
- Display the total no. of ele
- Add 100 to list
- Delete first element

In [6]:
li = list(range(1,11))

print("Entire list:",li)
print("Last three ele:",li[-3:])
print("Total no. of ele:",len(li))

li.append(100)
print("After adding 100:",li)

li.pop(0)
print("After deletion:",li)

Entire list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Last three ele: [8, 9, 10]
Total no. of ele: 10
After adding 100: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]
After deletion: [2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

**WAP to create a tuple 50 to 60 and then display the tuple after adding your name**

In [9]:
tup = tuple(range(50,61))

tup = tup+("Uwaish",)

print("My final tuple is:",tup)

print("Last ele is:",tup[-1])

My final tuple is: (50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 'Uwaish')
Last ele is: Uwaish

**WAP to create a set of 70 to 80 elements and then perform the below tasks:**

- Display the set
- Add 1000 to set
- Remove 75 from set
- Create another set of 75 to 85 and perform union

In [12]:
s1 = set(range(70,81))
print("My set is:",s1)

s1.add(1000)
print("\nAfter addition:",s1)

s1.remove(75)
print("\nDeletion:",s1)

s2 = set(range(75,86))
print("\nThe union of both is:",s1.union(s2))

My set is: {70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}

After addition: {70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 1000}

Deletion: {70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 1000}

The union of both is: {70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 1000}

**WAP to create a dict of list which has name, course, fee , and institute as keys. perform the following tasks:**

- Display the dict
- Display the keys
- Total count of element
- Display the course
- Change the second name with test
- Add location key
- Delete fee from the dict

In [13]:
di = {'Name':['Uwaish','Husain','Aisha','Khan'],
     'Course':['M','M','F','F'],
     'Fee':[1000,2000,3000,4000],
     'Institute':['Sdhub','MHD','QS','TC']}

di

{'Name': ['Uwaish', 'Husain', 'Aisha', 'Khan'],
 'Course': ['M', 'M', 'F', 'F'],
 'Fee': [1000, 2000, 3000, 4000],
 'Institute': ['Sdhub', 'MHD', 'QS', 'TC']}

In [14]:
print("The keys are:",di.keys())

The keys are: dict_keys(['Name', 'Course', 'Fee', 'Institute'])

In [15]:
print("Total count of elements:",len(di))

Total count of elements: 4

In [16]:
print("The courses are:",di['Course'])

The courses are: ['M', 'M', 'F', 'F']

In [18]:
di['Name'][1] = "Test"

print("After update:",di['Name'])

After update: ['Uwaish', 'Test', 'Aisha', 'Khan']

In [19]:
di['Location'] = ['Hyd','Sec','Mbd','Mnr']

di

{'Name': ['Uwaish', 'Test', 'Aisha', 'Khan'],
 'Course': ['M', 'M', 'F', 'F'],
 'Fee': [1000, 2000, 3000, 4000],
 'Institute': ['Sdhub', 'MHD', 'QS', 'TC'],
 'Location': ['Hyd', 'Sec', 'Mbd', 'Mnr']}

In [20]:
di.pop('Fee')
print("After deletion:",di)

After deletion: {'Name': ['Uwaish', 'Test', 'Aisha', 'Khan'], 'Course': ['M', 'M', 'F', 'F'], 'Institute': ['Sdhub', 'MHD', 'QS', 'TC'], 'Location': ['Hyd', 'Sec', 'Mbd', 'Mnr']}

## String methods

In [21]:
name = "Uwaish"
age = 28

print("I am {} and I am {} years old".format(name,age))

I am Uwaish and I am 28 years old

**WAP to receive today's day and temperature and the display in the below format:**

Today is Thursday and the temperature is 22 degree celsius

In [23]:
day = input("Please enter the day:")
temp = int(input("Please enter the temperature:"))

print("Today is {} and the tepmerature is {} degree celsius".format(day,temp))

Please enter the day:Thu
Please enter the temperature:22
Today is Thu and the tepmerature is 22 degree celsius

In [24]:
day = input("Please enter the day:")
temp = int(input("Please enter the temperature:"))

print("Today is {} and the tepmerature is {} degree celsius".format(day.upper(),temp))

Please enter the day:Thu
Please enter the temperature:22
Today is THU and the tepmerature is 22 degree celsius

In [25]:
day = input("Please enter the day:")
temp = int(input("Please enter the temperature:"))

print("Today is {} and the tepmerature is {} degree celsius".format(temp,day))

Please enter the day:Thu
Please enter the temperature:22
Today is 22 and the tepmerature is Thu degree celsius

**Solve the above problem using f string method**

In [26]:
day = input("Please enter the day:")
temp = int(input("Please enter the temperature:"))

print(f"The day is {day} and temperature will be {temp}.")

Please enter the day:Thu
Please enter the temperature:22
The day is Thu and temperature will be 22.

## Conditional programming

**WAP to check whether the given number is odd or even**

In [27]:
num = int(input("Please enter a number:"))

if num%2 == 0:
    
    print("The number is even")
    
else:
    
    print("The number is odd")

Please enter a number:3
The number is odd

**WAP to receive a name from user and then check whether it starts with A or not**

In [29]:
name = input("Please enter your name:")

if name[0] == "A":   # name.startswith('A')
    
    print("Name starts with A")
    
else:
    
    print("It does not starts with A")

Please enter your name:avinash
It does not starts with A

In [31]:
name = input("Please enter your name:")

if name[0].upper() == "A":   # name.startswith('A')
    
    print("Name starts with A")
    
else:
    
    print("It does not starts with A")

Please enter your name:Anu
Name starts with A

**WAP to check whether a number is greater than 10 or not. Also check if it is even**

In [34]:
num = int(input("Please enter a number:"))

if num>10:
    
    print("The number is greater than 10!")
    
if num%2==0:
    
    print("The number is even!")

Please enter a number:12
The number is greater than 10!
The number is even!

**WAP to receive user's name and age. Check if the user is adult, name contains more than 5 character, and name starts with 'U'**

In [37]:
name = input("Please enter your name:")

age = int(input("Please enter your age:"))

if age>=18:
    
    print("The user is Adult.")
    
if len(name)>5:
    
    print("Name length is greater than 5.")
    
if name[0]=='U':
    
    print("Name starts with 'U'.")

Please enter your name:Anu
Please enter your age:18
The user is Adult.

### ToDo: Solve all the above problems one more time