In [1]:
def test(**a):
    
    print(a)

In [5]:
test(a='uwaish')

{'a': 'uwaish'}

In [6]:
test(a=10,b=20,c=30)  # answers will be in a dictionary structure

{'a': 10, 'b': 20, 'c': 30}

In [7]:
def test2(*a):
    
    print(a)

In [8]:
test2(10)

(10,)

In [9]:
test2(10,20,30)  # answer will be in a tuple structure

(10, 20, 30)

**WAP to receive user info where the info keys are not fixed**

In [10]:
def info(**kwargs):   #keyword argument
    
    print(kwargs)

In [11]:
info(name="Uwaish",age=28)

{'name': 'Uwaish', 'age': 28}

In [12]:
info(name="Uwaish",age=28,gender='Male')

{'name': 'Uwaish', 'age': 28, 'gender': 'Male'}

In [13]:
info(name='Uwaish',age=28,gender='M',salary=10000)

{'name': 'Uwaish', 'age': 28, 'gender': 'M', 'salary': 10000}

In [14]:
info(name='Uwaish')

{'name': 'Uwaish'}

In [15]:
def test3(name,**a):   # complex argument
    
    return name,a

In [17]:
test3('Uwaish',b=28)

('Uwaish', {'b': 28})

In [18]:
def test(name,age):
    
    print("Name:",name)
    print("Age:",age)

In [19]:
test(28,'Uwaish')

Name: 28
Age: Uwaish

## Special Function

Case1:

**WAP to define a function which can calculate square of any given value**

In [23]:
def square(num):
    
    return num**2

In [24]:
square(10)

100

In [25]:
# using lambda

result = lambda num : num**2

result(10)

100

**WAP to receive temperature in celsius an display the answer in fehrenhite** use lambda function

In [26]:
res = lambda temp : temp*1.8+32

res(24)

75.2

In [27]:
res(35)

95.0

**WAP to perform addition operation**

In [28]:
addition = lambda num1,num2 : num1+num2

In [29]:
addition(10,20)

30

Case 2

**WAP to check whether the number is odd or even using lambda**

In [30]:
odd_even = lambda num : 'Even' if num%2==0 else 'Odd'

odd_even(12)

'Even'

In [32]:
num = int(input("Please enter a value:"))

odd_even(num)

Please enter a value:14

'Even'

In [33]:
num = int(input("Please enter a value:"))

result = odd_even(num)

print("The output of odd_even function is:",result)

Please enter a value:13
The output of odd_even function is: Odd

**WAP to check whether a name starts with a vowel or not, use lambda function**

In [34]:
result = lambda name : 'Yes' if name[0] in 'AEIOUaeiou' else "No"

result("Uwaish")

'Yes'

In [35]:
result("Kasim")

'No'

In [36]:
result('aisha')

'Yes'

**WAP to calculate square of a number if is even or calculate cube** use lambda function

In [39]:
res = lambda num : num**2 if num%2==0 else num**3

num = int(input("Please enter a number:"))
print("The output of odd_even function is:",res(num))

Please enter a number:13
The output of odd_even function is: 2197

In [40]:
res(19)

6859

**WAP to receive name and age and check if name has length more than 3 and age is above 18** if both cases are true then allowed else not allowed

In [44]:
res = lambda name,age: 'Allowed' if len(name)>3 and age>=18 else 'Not allowed'

res('Uwaish',28)

'Allowed'

In [45]:
res("Aisha",19)

'Allowed'

In [46]:
res('Sayed',13)

'Not allowed'

### map()

In [47]:
# method1
li = [1,2,3,4]

logic = lambda num : num**2

res = map(logic,li)

list(res)

[1, 4, 9, 16]

In [48]:
# method2

def sq(num):
    
    return num**2

res = map(sq,li)

list(res)

[1, 4, 9, 16]

In [51]:
res

In [53]:
#li = [1,2,3,4]

logic = lambda num : num**2

res = list(map(logic,[1,2,3,4]))

res

[1, 4, 9, 16]

**WAP display name which starts with char 'A' from the given list by using map**

In [55]:
li = ['Uwaish','Anu','Khan','Aisha']

def log(name):
    
    if name[0].upper() == 'A':
        return 'Yes'
    
    else:
        return 'No'
    
res = map(log,li)

list(res)

['No', 'Yes', 'No', 'Yes']

In [56]:
# use map to convert result into pass or fail

li = [19,30,56,78]

log = lambda num : 'Pass' if num>=33 else 'Fail'

res = map(log,li)

list(res)

['Fail', 'Fail', 'Pass', 'Pass']

### reduce()

In [58]:
from functools import reduce   # import relevant library

li = [1,2,3,4,5]

log = lambda a,b : a+b

reduce(log,li)

15