**WAP to receive user's emp_id, role, salary. Display datatype and values with a message**

In [2]:
emp_id = 101

role = "Trainer"

salary = 10000

print("The datatype of emp_id is:",type(emp_id))

print("The emp_id is:",emp_id)

The datatype of emp_id is: <class 'int'>
The emp_id is: 101

In [3]:
emp_id = input("Please enter the employee id:")

role = input("Please enter your role:")

salary = input("Please enter your salary:")

print("The datatype of emp_id is:",type(emp_id))

print("The emp_id is:",emp_id)

Please enter the employee id:101
Please enter your role:Trainer
Please enter your salary:1000
The datatype of emp_id is: <class 'str'>
The emp_id is: 101

In [4]:
age = input("Please enter your age:")

type(age)

Please enter your age:28

str

In [5]:
age = int(input("Please enter your age:"))

type(age)

Please enter your age:28

int

**WAP to receive two numeric values from user and then display the division of both. Use an appropriate message to display the result**

In [7]:
num1 = int(input("Please enter the numeric value:"))
num2 = int(input("Please enter the numeric value:"))

print("The division is:",num1/num2)

Please enter the numeric value:10
Please enter the numeric value:3
The division is: 3.3333333333333335

**WAP to receive day and temperature in celsius values from user and then display the day and temperatue in Fehrenhite**

In [10]:
day = input("Please enter the day:")

temp = float(input("Please enter the temperature:"))

print("The day is:",day)

temp = (9/5)*temp+32

print("The temperature (F) is:",temp)

Please enter the day:Mon
Please enter the temperature:22
The day is: Mon
The temperature (F) is: 71.6

**WAP to receive first name from user and then create an email address for sdhub.in domain**

In [11]:
fname = input("Please enter your name:")

domain = "sdhub.in"

email = fname+'@'+domain   #concatenation

print("Your email address is:",email)

Please enter your name:uwaish
Your email address is: uwaish@sdhub.in

**WAP to receive quantity from user and then display the total amount paid by user if the rate of mango is 100 rupees per kg.**

In [14]:
qty = int(input("Please enter the quantity (in kg):"))

rate = 100

amount = rate*qty

print("The total amount is:",amount)

Please enter the quantity (in kg):3
The total amount is: 300

## Strings

In [15]:
name = "Uwaish Husain"

print("Entire name:",name)

Entire name: Uwaish Husain

In [16]:
# display first char

name[0]

'U'

In [17]:
print(name[0])

U

In [18]:
# display last char

name[-1]

'n'

In [19]:
# display first two char

name[0:2]

'Uw'

In [20]:
name[:2]

'Uw'

In [22]:
# display char from 3rd to 6th

name[3:6]

'ish'

In [23]:
# display name by skipping one char

name[::2]

'Uas uan'

In [24]:
name[:]

'Uwaish Husain'

In [28]:
# reverse string

name[::-1]

'niasuH hsiawU'

In [29]:
name[-2:]

'in'

*Space is also a character*

**WAP to define a string and perform the following tasks:**
    
- Display the string
- Display the first char of string
- Display the last char of string
- Display the 3rd char of string
- Display first three char
- Display last two char
- Dsiplay char between 3rd and 6th
- Display the reverse string
- Display alternate char from the string
- Display the string by skipping 3 char