## Tuple

**WAP to create a tuple and perform below tasks:**

- Display the first ele
- Display the last ele
- Display the last two ele
- Add your name to tuple

In [1]:
tup = (1,2,3,4,5)

type(tup)

tuple

In [2]:
tup2 = tuple([1,2,3,4])

tup2

(1, 2, 3, 4)

In [3]:
type(tup2)

tuple

In [4]:
tup3 = tuple(range(0,51))

print(tup3)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50)

In [5]:
tup3[0]

0

In [6]:
tup3[-1]

50

In [7]:
tup3[-2:]

(49, 50)

In [8]:
tup3+("Uwaish",)   # temporary

(0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 'Uwaish')

In [9]:
tup3 = tup3+("Uwaish",)

print(tup3)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 'Uwaish')

## Set

In [10]:
s1 = set(range(10,20))

print(s1)

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [11]:
s2 = {10,20,'Uwaish','Husain',True}

s2

{10, 20, 'Husain', True, 'Uwaish'}

In [12]:
type(s2)

set

In [13]:
# adding a new element

s1.add(100)

s1

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 100}

In [14]:
s1.add(2)

In [15]:
s1

{2, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 100}

In [16]:
s3 = {1,1,1,2,3,4,4,4}

s3

{1, 2, 3, 4}

In [17]:
s3[0]  # set are non indexable

TypeError: 'set' object is not subscriptable

In [18]:
# deleting an ele

s1.remove(13)

s1

{2, 10, 11, 12, 14, 15, 16, 17, 18, 19, 100}

In [19]:
s1.remove(2)

s1

{10, 11, 12, 14, 15, 16, 17, 18, 19, 100}

In [20]:
s1 = set(range(5,15))
s2 = set(range(10,20))

print(s1)
print(s2)

{5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
{10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [21]:
# union

s1.union(s2)

{5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [22]:
# intersection

s1.intersection(s2)

{10, 11, 12, 13, 14}

In [23]:
# difference

s1.difference(s2)

{5, 6, 7, 8, 9}

**WAP to create a set of numbers from 50 to 100 and then perform below tasks:**

- Display entire set
- Add your name to set
- Delete 67 from set
- Create another set of 70 to 120 and perform union, intersection, and difference operations

In [25]:
s1 = set(range(50,100))
print("The set is:",s1)

s1.add("Uwaish Husain")
print("\nSet after adding name:",s1)

s1.remove(67)
print("\nSet after removing 67 is:",s1)

s2 = set(range(70,121))

print("\nUnion:",s1.union(s2))
print("\nIntersection:",s1.intersection(s2))
print("\nDifference:",s1.difference(s2))

The set is: {50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

Set after adding name: {50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 'Uwaish Husain'}

Set after removing 67 is: {50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 'Uwaish Husain'}

Union: {50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 'Uwaish Husain', 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120}

Intersection: {70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

Difference: {50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 'Uwaish Husain'}

In [26]:
s = {1,2,{4,5,},7,8}

s

TypeError: unhashable type: 'set'

**Create a list which contains unique elements from both lists**

li1 = [10,20,30,40]

li2 = [30,40,50,60]

In [27]:
li1 = [10,20,30,40]

li2 = [30,40,50,60]

li3 = li1+li2

print("Both list element:",li3)

s1 = set(li3)

print("Unique elements of lists are:",s1)

print("The final list will be:",list(s1))

Both list element: [10, 20, 30, 40, 30, 40, 50, 60]
Unique elements of lists are: {40, 10, 50, 20, 60, 30}
The final list will be: [40, 10, 50, 20, 60, 30]

In [28]:
li = []

type(li)

list

In [29]:
tup = ()

type(tup)

tuple

In [31]:
s = {}

type(s)

dict

In [32]:
s = set()

type(s)

set

## Dictionary

In [33]:
di = {'Name':'Uwaish','age':29}

di

{'Name': 'Uwaish', 'age': 29}

In [34]:
type(di)

dict

In [35]:
len(di)

2

In [36]:
di2 = {'Name':['Uwaish','Husain','Khan'],
      'Age':[20,21,22],
      'Gender':['M','M','F']}

di2

{'Name': ['Uwaish', 'Husain', 'Khan'],
 'Age': [20, 21, 22],
 'Gender': ['M', 'M', 'F']}

In [37]:
type(di2)

dict

In [38]:
# display names from di2

di2['Name']

['Uwaish', 'Husain', 'Khan']

In [39]:
# display age from di2

di2['Age']

[20, 21, 22]

In [40]:
di2.get('Age')

[20, 21, 22]

In [41]:
di

{'Name': 'Uwaish', 'age': 29}

In [42]:
di['Name']

'Uwaish'

In [43]:
di['Name'] = 'Test'

di

{'Name': 'Test', 'age': 29}

In [44]:
di['age'] = 33

di

{'Name': 'Test', 'age': 33}

In [45]:
di2

{'Name': ['Uwaish', 'Husain', 'Khan'],
 'Age': [20, 21, 22],
 'Gender': ['M', 'M', 'F']}

In [46]:
# change the Husain to Pasha

di2['Name']

['Uwaish', 'Husain', 'Khan']

In [47]:
di2['Name'][1]

'Husain'

In [48]:
di2['Name'][1] = 'Pasha'

di2

{'Name': ['Uwaish', 'Pasha', 'Khan'],
 'Age': [20, 21, 22],
 'Gender': ['M', 'M', 'F']}

In [49]:
di

{'Name': 'Test', 'age': 33}

In [50]:
di['gender'] = 'Male'

di

{'Name': 'Test', 'age': 33, 'gender': 'Male'}

In [51]:
di2

{'Name': ['Uwaish', 'Pasha', 'Khan'],
 'Age': [20, 21, 22],
 'Gender': ['M', 'M', 'F']}

In [52]:
di2['Salary'] = [100,200,300]

di2

{'Name': ['Uwaish', 'Pasha', 'Khan'],
 'Age': [20, 21, 22],
 'Gender': ['M', 'M', 'F'],
 'Salary': [100, 200, 300]}

In [53]:
di2.pop('Age')

di2

{'Name': ['Uwaish', 'Pasha', 'Khan'],
 'Gender': ['M', 'M', 'F'],
 'Salary': [100, 200, 300]}

In [54]:
# display all the keys

di2.keys()

dict_keys(['Name', 'Gender', 'Salary'])

**WAP to create a dict of tuple where keys are: e_id, name, role, and salary. perform the following tasks:**

- Display the dictionay and its type
- Display total no. of records/values
- Display total no. of keys/item
- Display the second name from the dictionary
- Change the last name with test
- Add a new key "Ratings"
- Delete role from the dict
- Dsiplay all the keys

In [56]:
di = {'e_id':(101,102,103),
     'name':('Uwaish','Husain','Raza'),
     'role':('DS','DA','AI'),
     'salary':(100,200,300)}

print(di)
print(type(di))

{'e_id': (101, 102, 103), 'name': ('Uwaish', 'Husain', 'Raza'), 'role': ('DS', 'DA', 'AI'), 'salary': (100, 200, 300)}
<class 'dict'>

In [58]:
# no. of records

len(di['e_id'])

3

In [59]:
# no. of keys

len(di)

4

In [61]:
# second name

di['name'][1]

'Husain'

In [62]:
# change last name with test

di['name'][-1] = 'test'

di   # tuple is unmutable

TypeError: 'tuple' object does not support item assignment

In [63]:
# new key

di['Ratings'] = [4,3.5,4]

di

{'e_id': (101, 102, 103),
 'name': ('Uwaish', 'Husain', 'Raza'),
 'role': ('DS', 'DA', 'AI'),
 'salary': (100, 200, 300),
 'Ratings': [4, 3.5, 4]}

In [64]:
# delete role

di.pop('role')

di

{'e_id': (101, 102, 103),
 'name': ('Uwaish', 'Husain', 'Raza'),
 'salary': (100, 200, 300),
 'Ratings': [4, 3.5, 4]}

In [65]:
# all the remaining keys

di.keys()

dict_keys(['e_id', 'name', 'salary', 'Ratings'])

In [66]:
di.values()

dict_values([(101, 102, 103), ('Uwaish', 'Husain', 'Raza'), (100, 200, 300), [4, 3.5, 4]])