## Part 1: Review and Foundations

The class started with a review of the previous day's topics, focusing on **Identifiers**.

### Identifiers (Variable Names)

An identifier is a name given to a variable, function, etc. Sir reviewed the rules:
- They are **case-sensitive**.
- Cannot start with a number.
- Cannot contain special characters (except `_`).

In [6]:
# Python is case-sensitive, so 'a' and 'A' are different variables.
a = 10
A = 20
print("'a' is:", a)
print("'A' is:", A)

# A valid identifier can have numbers and underscores
test_123 = 10000
print("test_123 is:", test_123)

# An invalid identifier will cause a SyntaxError
# test@123 = 1000 # This line would crash the program because of the '@'

'a' is: 10
'A' is: 20
test_123 is: 10000
The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

Sir then emphasized the importance of using **meaningful variable names** instead of simple ones like `a` or `x`. This makes code much easier to read.

## Part 2: Static Value Assignment

This is the method we have been using so far, where we **hard-code** the value of a variable directly in our program.

In [7]:
# WAP to define name, age, course, and duration. Display the info.

# These are all static values.
name = "Riyan"
age = 22
course = "Data Science"
duration_in_months = 4.5

print("--- My Details ---")
print("Name:", name)
print("Age:", age)
print("Course:", course)
print("Duration (months):", duration_in_months)

# We also checked their data types
print("\n--- Data Types ---")
print("Name datatype:", type(name))
print("Age datatype:", type(age))
print("Course datatype:", type(course))
print("Duration datatype:", type(duration_in_months))

--- My Details ---
Name: Riyan
Age: 22
Course: Data Science
Duration (months): 4.5

--- Data Types ---
Name datatype: <class 'str'>
Age datatype: <class 'int'>
Course datatype: <class 'str'>
Duration datatype: <class 'float'>

## Part 3: Dynamic Input using `input()`

Next, we learned how to get input from the user while the program is running. This is called **dynamic input**.

In [8]:
# The input() function pauses and waits for the user to type.
user_value = input("Please enter a value: ")
print("The value you entered is:", user_value)

Please enter a value:  Riyan

The value you entered is: Riyan

### The Most Important Rule: Type Casting

The `input()` function **always returns a string**. We must convert it if we need a number.

In [9]:
# Get a number from the user
a = input("Please enter a number: ")
print("The data type of 'a' is:", type(a)) # This will be <class 'str'>

# To use it as a number, we must cast it
b = int(input("Please enter another number: "))
print("The data type of 'b' is:", type(b)) # This will be <class 'int'>

Please enter a number:  5

The data type of 'a' is: <class 'str'>

Please enter another number:  21

The data type of 'b' is: <class 'int'>

#### WAP: Get employee details from the user

In [10]:
# We must use the correct type casting for each input.
emp_id = input("Please enter your employee id: ") # ID can be a string (e.g., 'E101')
role = input("Please enter your role: ")
salary = float(input("Please enter your salary: ")) # Salary can have decimals

print("\n--- Employee Details ---")
print("ID:", emp_id)
print("Role:", role)
print("Salary:", salary)
print("Salary data type is:", type(salary))

Please enter your employee id:  1234
Please enter your role:  Engg
Please enter your salary:  2000000

--- Employee Details ---
ID: 1234
Role: Engg
Salary: 2000000.0
Salary data type is: <class 'float'>

## Part 4: Operators

Next, we covered all the different types of operators in Python

### a) Arithmetic Operators

In [11]:
# WAP to receive two numbers and perform all the operations
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

print(f'Addition: {num1 + num2}')
print(f'Subtraction: {num1 - num2}')
print(f'Multiplication: {num1 * num2}')
print(f'Division: {num1 / num2}')
print(f'Floor Division: {num1 // num2}')
print(f'Modulus (Remainder): {num1 % num2}')
print(f'Exponent (Power): {num1 ** num2}')

Enter first number:  12
Enter second number:  15

Addition: 27
Subtraction: -3
Multiplication: 180
Division: 0.8
Floor Division: 0
Modulus (Remainder): 12
Exponent (Power): 15407021574586368

**Special cases for `+` and `*` with strings:**

In [12]:
# String concatenation
fname = input("Please enter your first name: ")
lname = input("Please enter your last name: ")
fullname = fname + ' ' + lname
print("Your full name is:", fullname)

# String repetition
print("Your name 10 times:", (fname + ' ') * 10)

Please enter your first name:  MD Riyan
Please enter your last name:  Nazeer

Your full name is: MD Riyan Nazeer
Your name 10 times: MD Riyan MD Riyan MD Riyan MD Riyan MD Riyan MD Riyan MD Riyan MD Riyan MD Riyan MD Riyan

### b) Assignment Operators

These are shortcuts for updating a variable's value.

In [13]:
a = 10
print("Before:", a)

a += 12   # This is a shortcut for: a = a + 12

print("After:", a)

Before: 10
After: 22

### c) Comparison Operators
These compare two values and return `True` or `False`.

In [14]:
num1 = 10
num2 = 5
print(f'Is {num1} > {num2}?', num1 > num2)
print(f'Is {num1} == {num2}?', num1 == num2)

Is 10 > 5? True
Is 10 == 5? False

### d) Logical Operators
Used to combine multiple conditions (`and`, `or`, `not`).

In [15]:
num1 = 10
num2 = 5
# This returns True because the second part (num1 > num2) is True
print("(num1 > 100) or (num1 > num2) is:", (num1 > 100) or (num1 > num2))

# This returns False because the first part (num1 > 100) is False
print("(num1 > 100) and (num1 > num2) is:", (num1 > 100) and (num1 > num2))

(num1 > 100) or (num1 > num2) is: True
(num1 > 100) and (num1 > num2) is: False

### e) Membership Operators
Checks if a value exists within a sequence (`in`, `not in`).

In [16]:
# WAP to check whether your name contains 'a' or not
name = 'Riyan'
print(f"Is 'a' in '{name}'?", 'a' in name)
print(f"Is 'z' in '{name}'?", 'z' in name)
print(f"Is 'yan' in '{name}'?", 'yan' in name)

Is 'a' in 'Riyan'? True
Is 'z' in 'Riyan'? False
Is 'yan' in 'Riyan'? True

### f) Identity Operators
Checks if two variables refer to the exact same object in memory (`is`, `is not`).

In [18]:
# WAP to check whether both entered numbers are identical or not
num1 = int(input("Please enter the number: "))
num2 = int(input("Please enter the number: "))

print(f"Checking for value equality ({num1} == {num2}):", num1 == num2)
print(f"Checking for object identity ({num1} is {num2}):", num1 is num2)
# Note: For numbers from user input, 'is' is usually False because Python creates new objects.

Please enter the number:  22
Please enter the number:  11

Checking for value equality (22 == 11): False
Checking for object identity (22 is 11): False

---

## Homework: Understanding Bitwise Operators

**Introduction:** Bitwise operators work on the **binary representation** of numbers (the 0s and 1s).

**Let's use `a = 10` and `b = 4` for all examples.**
- `a = 10`  ->  Binary `1010`
- `b = 4`   ->  Binary `0100`

### 1. Bitwise AND (`&`)
**Rule:** The result bit is `1` only if **both** corresponding bits are `1`.
```
  1010  (10)
& 0100  (4)
-------
  0000  (0)
```

In [19]:
print("10 & 4:", 10 & 4)

10 & 4: 0

### 2. Bitwise OR (`|`)
**Rule:** The result bit is `1` if **at least one** of the corresponding bits is `1`.
```
  1010  (10)
| 0100  (4)
-------
  1110  (14)
```

In [20]:
print("10 | 4:", 10 | 4)

10 | 4: 14

### 3. Bitwise XOR (`^`)
**Rule:** The result bit is `1` only if the corresponding bits are **different**.
```
  1010  (10)
^ 0100  (4)
-------
  1110  (14)
```

In [21]:
print("10 ^ 4:", 10 ^ 4)

10 ^ 4: 14

### 4. Bitwise NOT (`~`)
**Rule:** Inverts all the bits. The result is `-(x + 1)`.
`~10` -> `-(10 + 1)` -> `-11`

In [22]:
print("~10:", ~10)

~10: -11

### 5. Left Shift (`<<`) and Right Shift (`>>`)
- **Left Shift:** Shifts bits to the left, filling empty spaces with 0s. (Effectively multiplying by 2 for each shift).
- **Right Shift:** Shifts bits to the right, discarding bits on the end. (Effectively doing integer division by 2 for each shift).

In [23]:
# Shift 10 left by 2 places: 10 * 2^2 = 40
print("10 << 2:", 10 << 2)

# Shift 10 right by 2 places: 10 // 2^2 = 2
print("10 >> 2:", 10 >> 2)

10 << 2: 40
10 >> 2: 2