# baiscs revision

## **WAP to recive a string from user perform the below tasks:**
1. dsiplay he string
2. display last char
3. display the reverse
4. display length of the string
5. count the no. of words

In [7]:
st = input("Enter your string: ")

print("dsiplay the string:", st)

print("dsiplay the last char:", st[-1])

print("dsiplay the string in reverce:", st[::-1])

print("dsiplay the length:", len(st))

print(len(st.split(" ")))

Enter your string:  riyan

dsiplay the string: riyan
dsiplay the last char: n
dsiplay the string in reverce: nayir
dsiplay the length: 5
1

# **WAP to create a list of first 10 natural numbers using range and perform the below task:**

1. Display the entire list
2. Display the last three elements
3. display the total number of elements
4. add 100 to list
5. delete first elements

In [13]:
li = list(range(1,11))

print(li)
print("\nThe last three element: ", li[-3:] )
print(li)

print("\nDisplay the total number of elements", len(li))
print(li)

li.append(100)
print("\nadded 100 to the list:")
print(li)

li.pop(-1)
print("\nDelete the last element:")
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

The last three element:  [8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Display the total number of elements 10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

added 100 to the list:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

Delete the last element: 100
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# **WAP to create a tuple 50 to 60 and then display the tuple adding your name**

In [22]:
no = tuple(range(50,61))
#no = no+tuple(input("Enter your name:"))
no = no+tuple("Riyan")

print(no)

(50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 'R', 'i', 'y', 'a', 'n')

# **WAP to create a set of 70 to 80 elements and then perform rge below task**

1. display the set
2. add the 1000  to the set
3. remove 75 from the set
4. create another set of 75 to 85 and perfrom union

In [28]:
se = set(range(1,81))
print("\nMy set", se)

se.add(1000)
print("\nadded 1000", se)

se.remove(75)
print("\nremove 75", se)

se1 = set(range(75,86))

se2 = se.union(se1)

print("\nunion:", se2)

My set {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80}

added 1000 {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 1000}

remove 75 {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 1000}

union: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 1000}

# **WAP to create a dict of list which has name course fee ad institue as keys perform the following task:**
1. dsiplay the dict
2. display the keys
3. total count of elementsnt
4. display the couse
5. change the second na,e with test
6. add location ket
7. delete dee from the dict

In [29]:
di = {
    'name':["amaan", "riyan", "sohail"],
    'course':["DS", "CS", "CSM"],
    'fee':[1000, 5000, 6000],
    'institute':["SDHUb"]
}

In [30]:
di

{'name': ['amaan', 'riyan', 'sohail'],
 'course': ['DS', 'CS', 'CSM'],
 'fee': [1000, 5000, 6000],
 'institute': ['SDHUb']}

In [33]:
di.keys()

dict_keys(['name', 'course', 'fee', 'institute'])

In [35]:
len(di)

4

In [37]:
di['course']

['DS', 'CS', 'CSM']

In [39]:
di['name'][1] = 'test'

di['name']

['amaan', 'test', 'sohail']

In [40]:
di['location'] = ['Hyd']

In [41]:
di

{'name': ['amaan', 'test', 'sohail'],
 'course': ['DS', 'CS', 'CSM'],
 'fee': [1000, 5000, 6000],
 'institute': ['SDHUb'],
 'location': ['Hyd']}

In [42]:
di.pop('fee')

[1000, 5000, 6000]

In [43]:
di

{'name': ['amaan', 'test', 'sohail'],
 'course': ['DS', 'CS', 'CSM'],
 'institute': ['SDHUb'],
 'location': ['Hyd']}

# **todays topics String Method**
1. formating strings (print())

In [44]:
name = 'riyan'
age = 20

#op1
print(name, age)

#op2
print(name)
print(age)

#op3
print("my name is:", name)
print("my age is:", age)

riyan 20
riyan
20
my name is: riyan
my age is: 20

## method 1: Dot method/format

eg:
```python
print("msg".format(ver1, ver2))
```

In [45]:
print("my name is {} and my age is {}".format(name, age))

my name is riyan and my age is 20

# **WAP to reacive todays date and temp and then display it using the below format**
## Today is Thusday and the temperature is 22 celsisus

In [60]:
date = str(input("Enters todays date: "))
temp = float(input("Enter todays Temp in celsius:"))

#dot method
print("\n dot method: Today is {} and the temperature is {}".format(date.title(), temp))

#f method
print(f"\n f-method: Today is {date.title()} and the temperature is {temp}")

Enters todays date:  monday
Enter todays Temp in celsius: 45

 dot method: Today is Monday and the temperature is 45.0

 f-method: Today is Monday and the temperature is 45.0

# **starting the real shit**

## *python paradime*
### 
1. procedral
2. conditional programming
3. object oriented

1. procedral


2. conditional
   conditions statements = if , else, elif

   - if else = one condition: one output
   - if if if = multiple condition: one or more
   - if elif elif = multiple condition: one output


code examples

```python
num = int(input)
if (num%2 == 0):
    print('even')
```

## **WAP to check the given number is odd or even**

In [63]:
num = int(input("Enter your number :"))

if (num%2 == 0):
    print("\nthe number", num, "is even")
else:
    print("\nthe number", num, "is odd")

Enter your number : 45

the number 45 is odd

### **WAP to recive a name from user and then check whether iis tarts with A or not**

In [70]:
st = input('Enter your name:')

if st[0].upper == 'A': 
    print("your name starts with A")
else:
    print("Your name doesnt start with A")

Enter your name: amaan

Your name doesnt start with A

In [69]:
st = input('Enter your name:')

st.upper

if st.startswith('A'): 
    print("your name starts with A")
else:
    print("Your name doesnt start with A")

Enter your name: amaan

Your name doesnt start with A

### **WAP to check wheather a ni=umber is greater then 10 or not and check if it is evem**

In [80]:
num = int(input("Enter your number: "))

if num > 10:
    print("\nthe number is greater then 10")
else:
    print("\nthe number is not greater then 10")

if num % 2 == 0:
    print("\nthe number", num, "is even")
else:
    print("\nthe number", num, "is odd")

Enter your number:  20

the number is greater then 10

the number 20 is even

### **WAP to receive user name and age check if the user is an adult, name contains more then 5 chreater and starts with U**

In [85]:
name = input("Enter your name: ")

age = int(input("Enter your age: "))

if age > 18:
    print(name, "is an adult")
else:
    print(name, "is a minor")

if len(name) > 5:
    print(name, "has more then 5 charector")
else:
    print(name, "has less then 5 charectors")

name.upper

if name[0] == 'U':
    print(name, "name strats with U")
else:
    print(name, "name doesnt strats with U")

SyntaxError: invalid syntax (2902042628.py, line 17)

## ToDo: Solve all the above problems one more time