# While loop 

1. while
   - step1: Initialization
   - step2: condition
   - step3: operation

> ###### **While loop we write conditional programming and it keep running until the condition is False**

```python
while condi:
    if condi:
        =
    else:
        =
        operation
```

## Conditional statements / keywords
1. break : stop execution
2. continue : skip execution
3. syntacitically corrects/ pass the logic

example;

```python
num = 1
while num <= 10:
    print(num)
    if num == 5:
        break
    num += 1
```

In [1]:
num = 1
while num <= 10:
    print(num)
    if num == 5:
        break
    num += 1

1
2
3
4
5

In [2]:
num = 1
while num <= 10:
    print(num)
#    if num == 5:
#        continue # infinite loop

    num += 1

1
2
3
4
5
6
7
8
9
10

In [7]:
num = 0
while num <= 10:
    num += 1
    if num == 5:
        continue
    print(num)

1
2
3
4
6
7
8
9
10
11

In [10]:
num = 0
while num <= 10:
    num += 1
    if num == 5:
        pass
    print(num)

1
2
3
4
5
6
7
8
9
10
11

In [13]:
num = 10

if num > 100:
    pass
else:
    print("100")

100

In [15]:
num = 1

while True:
    print(num)
    if num <= 10:
        break
    num+=1

1

### **WAP to create a password application using while loop**

In [30]:
## explain the porgram in detail

pasw = input("Create your Password: ")
attempt = 0
while True:
    login = input("Enter your password: ")
    if pasw == login:
        print("Your logged in")
        break
    elif attempt == 3:
        print("Try again after some time")
        break
    else:
        attempt+=1
        print("number of attempt are", attempt)
        print("try again")

Create your Password:  123
Enter your password:  1222

number of attempt are 1
try again

Enter your password:  111

number of attempt are 2
try again

Enter your password:  111

number of attempt are 3
try again

Enter your password:  000

Try again after some time

### **WAP to create a table of given number**

In [41]:
num = 1
table = int(input("Enter your number: "))

while num<11:
    print(table, "x", num, '=', num*table )
    num += 1

Enter your number:  55

55 x 1 = 55
55 x 2 = 110
55 x 3 = 165
55 x 4 = 220
55 x 5 = 275
55 x 6 = 330
55 x 7 = 385
55 x 8 = 440
55 x 9 = 495
55 x 10 = 550

# ForLoop:

```python
#for var in collection:

name = "Riyan"
 for var in name:
     print(var)
```

In [40]:
name = "Riyan"
for var in name:
    print(var)

R
i
y
a
n

In [43]:
name = 'riyan'

#name[0]

for var in name:
    print(var)

r
i
y
a
n

In [49]:
li = [0,10,20,30,40]

#name[0]

for i in li:
    print(i*10)

0
100
200
300
400

In [50]:
### **WAP to identify odd and even values from the given list**

In [52]:
li = [10,11,12,13,14,15]

for i in li:
    if i % 2 == 0:
        print(i, "Even")
    else:
        print(i, "Odd")

10 Even
11 Odd
12 Even
13 Odd
14 Even
15 Odd

### **WAP **

In [55]:
li = ["Aisha", 'Uwaish', 'Khan', 'Ayushman']

for i in li:
    if i[0] == 'K':
        print(i)

Khan

In [59]:
# display the name which start and end

li = ["Aisha", 'Uwaish', 'Khan', 'Ayushman']
for i in li:
    if i[0].lower() == 'a' and i[-1].lower() == 'a':
        print(i)

Aisha

### **WAP to separate odd and even from the given list**

In [74]:
li = [11,12,13,14,15]
even = []
odd = []

for i in li:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)

print("even", even)
print("Odd", odd)

even [12, 14]
Odd [11, 13, 15]

### **WAP to convert the given score into pass and fail and separate pass and fail**

```python
li = [23,34,54,65,12]
```

In [84]:
li = [23,34,54,65,12]
pas = []
fai = []

for i in li:
    if i >= 33:
        pas.append(i)
    else:
        fai.append(i)
        
print('The student is Passed!', pas)
print('The student is failed!', fai)

The student is Passed! [34, 54, 65]
The student is failed! [23, 12]

In [89]:
passed = []
failed = []
for i in range(len(li)):
    if li[i] > 33:
        pas.append(i)
        print(f"Student{i}: Pass")
    else:
        fai.append(i)
        print(f"Student{i}: Fail")

Student[1, 2, 3]: Pass
Student[0, 4]: Fail

In [ ]:
passed = []
failed = []
for i in range(len(li)):
    if li[i] > 33:
        passed.append(i)
    else:
        failed.append(i)
print(f"Student{passed}: Pass")
print(f"Student{failed}: Fail")