# Heading

### Heading

# About

My name is *Uwaish Husain* who is working as a **Data Science Trainer.** Along with training profession I am involved in multiple roles as well which are as follows:

- Senior Consultant

> I love to travel.

> I love watching `movies`

**Write a markdown about Python and its feature**

`Python` is a programming language which is used for **Multipurpose**. It has following features:

- Interpreted language
- Open Source
- Platform Indepenedent
- Vast Collection of Libraries

> To know more about it [click here](https://docs.python.org/3/tutorial/index.html)

In [1]:
10+20

30

In [2]:
10-20

-10

## Identifier

In [3]:
a = 10

In [4]:
a

10

In [5]:
A = 20

In [6]:
A

20

In [7]:
a

10

In [8]:
test_123 = 10000

In [9]:
test@123 = 1000  # invalid identifier

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2838641497.py, line 1)

In [10]:
_name = 'Uwaish'

## First Code

In [14]:
name = "Uwaish Husain"

gender = "Male"

print("My name is:",name)
print("My age is:",gender)

My name is: Uwaish Husain
My age is: Male

**WAP to define name, age, course, and duration. Display the info with a message**

**WAP to define roll_no, name, college, course, and year. Display it with appropriate message**

In [15]:
type(10)

int

In [16]:
type(10.4)

float

In [17]:
type("A")

str

In [18]:
type(True)

bool

In [19]:
name = "Uwaish Husain"

type(name)

str

In [20]:
print(type(name))

<class 'str'>

In [21]:
print("The dtype of name is:",type(name))

The dtype of name is: <class 'str'>

**WAP to display the data type of each varibale in above two problems**

In [5]:
name = "Uwaish Husaih"

age= 29

course = "Data Science"

duration_in_months = 4.5

print("Datatype:")
print("Name datatype:",type(name))
print("Age datatype:",type(age))
print("Course datatype:",type(course))
print("Duration datatype:",type(duration_in_months))

print("Values:")
print(name)
print(age)
print(course)
print(duration_in_months)

Datatype:
Name datatype: <class 'str'>
Age datatype: <class 'int'>
Course datatype: <class 'str'>
Duration datatype: <class 'float'>
Values:
Uwaish Husaih
29
Data Science
4.5

In [7]:
a = 10

a

10

In [10]:
a = input()

a

10

'10'

In [11]:
a = input("Please enter a number value:")

print("The value is:",a)

Please enter a number value:7635
The value is: 7635

**WAP to receive name, age, and gender from user and then display with an appropriate message**

In [12]:
name = input("Please enter your name:")

print("Your name is:",name)

Please enter your name:Uwaish Husain
Your name is: Uwaish Husain

In [13]:
a = input("Please enter a number:")

type(a)

Please enter a number:23

str

In [14]:
a = int(input("Please enter a number:"))

type(a)

Please enter a number:34

int

**WAP to receive values such as employee_id, role, and their salary in respective datatypes**

In [15]:
emp_id = input("Please enter your employee id:")

role = input("Please enter your role:")

salary = float(input("Please enter your salary"))

print("The details are as follows:",emp_id,role,salary)

Please enter your employee id:Uwaish
Please enter your role:DS
Please enter your salary32483.324
The details are as follows: Uwaish DS 32483.324

In [16]:
type(salary)

float

In [17]:
type(emp_id)

str

In [18]:
type(role)

str

In [19]:
type('12376713')

str

In [20]:
type('hgsgdfhd')

str

In [21]:
type(1234)

int

**WAP to receive roll_no, course, college, and fee. Display their datatypes.**

## Operators

In [22]:
23+34

57

In [23]:
23+True

24

In [24]:
True+True

2

In [25]:
10+False

10

In [28]:
'Uwaish '*23

'Uwaish Uwaish Uwaish Uwaish Uwaish Uwaish Uwaish Uwaish Uwaish Uwaish Uwaish Uwaish Uwaish Uwaish Uwaish Uwaish Uwaish Uwaish Uwaish Uwaish Uwaish Uwaish Uwaish '

In [30]:
'Uwaish' + ' Husain'

'Uwaish Husain'

 **WAP to receive two numbers and perform all the oparations**

In [35]:
num1 = int(input("Please enter the value:"))

print("The cube of num1 is:",num1**3)

Please enter the value:3
The cube of num1 is: 27

In [34]:
num1 = int(input("Please enter the value:"))
num2 = int(input("Please enter the value:"))

print("Addition:",num1+num2)
print("Exact Division:",num1/num2)

Please enter the value:10
Please enter the value:4
Addition: 14
Exact Division: 2.5

In [37]:
# wap to display the user name 10 times

name = "Uwaish "
print("10 times:",name*10)

10 times: Uwaish Uwaish Uwaish Uwaish Uwaish Uwaish Uwaish Uwaish Uwaish Uwaish

**WAP to receive first name and last name. Display full name.**

In [39]:
fname = input("Please enter your first name:")
lname = input("Please enter your last name:")

fullname = fname+' '+lname

print("Your full name is:",fullname)

Please enter your first name:Uwaish
Please enter your last name:Husain
Your full name is: Uwaish Husain

**Take a value and perform assignment operations**

In [43]:
a = 10

print("Before:",a)

a += 12   # a = a+12

print("After:",a)

Before: 10
After: 22

**WAP to compare two values after defining**

In [44]:
num1 = 10

num2 = 5

num1>num2

True

**WAP to compare two or more values using logical operators**

In [46]:
(num1>100) or (num1>num2)

True

In [47]:
(num1>100) and (num1>num2)

False

In [48]:
not True

False

**WAP to check whether your name contains a or not**

In [49]:
'a' in 'Uwaish'

True

In [50]:
'u' in 'Uwaish'

False

In [51]:
'sh' in 'Uwaish'

True

In [52]:
name = "Uwaish Husain"

'H' in name

True

**WAP to check whether both eneterd numbers are identical or not**

In [56]:
num1 = int(input("Please enter the number:"))

num2 = int(input("Please enter the number:"))

print("Checking:",num1 is num2)

Please enter the number:110
Please enter the number:110
Checking: True

In [57]:
'U' not in 'Uwaish'

False

In [58]:
10 is not 10

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\uwais\AppData\Local\Temp\ipykernel_11504\3919734364.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  10 is not 10

False