# **Python Basics and Markdown**

## *Starting with Markdown (MD)*

### Symbols

#### Headings
## 1. **Using *#* we can make heading tags like html**
# (Header 1, title)

## (Header 2, major headings)

### (Header 3, subheadings)

#### (Header 4)

##### (Header 5)

###### (Header 6)

## 2. Blockquotes

Blockquotes can hold the large chunk of text and are generally indented. They can be obtained by using Markdown symbol '>' or with <blockquote>text for blockquote</blockquote>

    >This is good

Both of the syntaxes above can render the text in indented form after clicking 'Run' in the toolbar.,2

## 3. Displaying Code in Markdown

The Code section is the part that specifies the code of different programming languages and can be rendered where inline code starts with ' `inline code goes here` ' back-ticks around it, but the block of code starts with three back-ticks ' ``` block line code goes here ``` '. Also,the Markup tag for a Code section is ' <code>code goes here<code> '.

```python
print("Hello World")

```

## 4. Links and images

[text](link)

![hello](https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg)

In [3]:
#python basics

#integer

numb1= 123
print(type(numb1))

<class 'int'>

In [17]:
# my first code

name = 'riyan'
gender = 'Male'
age = 22
course = 'Data Science'
duration = '4.5 months'

print("my name: ", name, "\nmy age: " , age, "\nmy gender: ", gender, "\nmy course: ", course, "\nmy duration: ", duration)

my name:  riyan
my age:  22
my gender:  Male
my course:  Data Science
my duration:  4.5 months

In [27]:
#program to define student details roll_no name college course year

roll_no = 160924748036
college = "LORDs"
year = 2025

print("\nmy roll_no: ", roll_no, "\nmy name: ", name, "\nmy college: ", college, "\nmy course: ", course, "\nmy year: ", year)

print("\ndata type:", type(roll_no))
print("data type:", type(name))
print("data type:", type(college))
print("data type:", type(course))
print("data type:", type(year))

my roll_no:  160924748036
my name:  riyan
my college:  LORDs
my course:  Data Science
my year:  2025

data type: <class 'int'>
data type: <class 'str'>
data type: <class 'str'>
data type: <class 'str'>
data type: <class 'int'>