# tuples

## **WAP to create a tuple and perform below tasl**
1. display the first else
2. display the last ele
3. display the last two ele
4. add your name to tuple

In [14]:
tup1 = (1,2,3,4,5)

print("first element:", tup1[0])
print("last element:", tup1[-1])
print("last 2 element:", tup1[-2:])

tupl2 = tup1+("Riyan",)
print(tupl2)

first element: 1
last element: 5
last 2 element: (4, 5)
(1, 2, 3, 4, 5, 'Riyan')

In [15]:
tup = tuple(range(0,100))
print(tup)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99)

# Sets

In [17]:
s1 = set(range(0,50))
print(s1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49}

In [18]:
s1.add(50)

In [19]:
print(s1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50}

In [20]:
s2 = {1,2,2,1,5,5,7}

In [21]:
print(s2)

{1, 2, 5, 7}

In [23]:
s2[0]

TypeError: 'set' object is not subscriptable

In [24]:
s1.remove(50)

In [26]:
print(s1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49}

In [27]:
s1 = set(range(5,15))
s1 = set(range(10,20))

print(s1)
print(s2)

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
{1, 2, 5, 7}

In [28]:
s1.union(s2)

{1, 2, 5, 7, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [29]:
s1.intersection(s2)

set()

In [30]:
s1.difference(s2)

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

### **WAP to create a set of numbers from 50 to 100 and then perform below task**
1. display entire set
2. add your name to set
3. delete 67 from set
4. create another set of 70 to 120 and perfrom union, intersection and diffrence operation

In [38]:
s = set(range(50, 100))

print(s)

s.add("Riyan")

print(s)

s.remove(67)

print("\nremoveed 67", s)


s1 = set(range(70, 120))

print("\nadded set", s1)

{50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{'Riyan', 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

removeed 67 {'Riyan', 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

added set {70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119}

In [39]:
print(s.union(s1))

{50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 'Riyan'}

In [40]:
print(s.intersection(s1))

{70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [41]:
print(s.difference(s1))

{'Riyan', 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69}

In [52]:
li1 = [10,20,30,40]

li2 = [30, 40, 50, 60]

s =  set(li1)

type(s)

s2 = set(li2)

type(s2)

s3 = s.union(s2)

s4  = list(s3)

print(s4)

print(type(s4))

[40, 10, 50, 20, 60, 30]
<class 'list'>

In [59]:
li1 = [10,20,30,40]

li2 = [30, 40, 50, 60]

li3 = li1+li2

print("all ele: ", li3)

s1 =  set(li3)

print(s1)

print(list(s1))

all ele:  [10, 20, 30, 40, 30, 40, 50, 60]
{40, 10, 50, 20, 60, 30}
[40, 10, 50, 20, 60, 30]

# Dictionary

In [66]:
dic =  {'name': ['riyan', 'sohail', 'faizaan']}

dic2 =  {'age': [20, 22, 25]}

dic2

{'age': [20, 22, 25]}

# **WAP to create a dict of tuple where keys are: e_id, name, role, annd salary. perform the foloowing task:**

1. display the dict and its type
2. display total no. of records/values
3. display total no. of keys/items
4. display the second name from the dictionary
5. chnage the last name with test
6. add a new key 'rating'
7. delte role from the dict
8. display all the keys

In [83]:
di = {
    'e_id': (101,102,103,104,105), 
    'name': ('riyan', 'sohail', 'faizaan', 'dawood', 'Mujahid'), 
    'role':('engg', 'backend', 'data', 'ai/ml', 'mang'), 
    'salary': (10000, 20000, 30000, 40000, 500000)
}

di

{'e_id': (101, 102, 103, 104, 105),
 'name': ('riyan', 'sohail', 'faizaan', 'dawood', 'Mujahid'),
 'role': ('engg', 'backend', 'data', 'ai/ml', 'mang'),
 'salary': (10000, 20000, 30000, 40000, 500000)}

In [89]:
print(type(di))
print(di.keys())

<class 'dict'>
dict_keys(['e_id', 'name', 'role', 'salary'])

In [98]:
print(len(di))

4

In [94]:
di['name'][1]

'sohail'

In [95]:
di['name'][-1] = "test"

TypeError: 'tuple' object does not support item assignment

In [99]:
di.add(['rating': (1,2,3,4,5)])

SyntaxError: invalid syntax (3780666310.py, line 1)