date: 19-7-25, saturday

# FUNCTIONAL PROGRAMMING LEANGUAGE

## defination: creating a function using set of function

1. step 1: create/define: def func_name(parameter): -> (variable)
2. step 2: use/invoke : fuction_name(argument) -> value
   - example:
     > addition
     ```python
     def addtion(a,b):
         return   a+b

     addition(4,5)
     # output: 9
     ```

# Functional programming with special/keyword assignment

In [32]:
def test(*a, *b):
    return a+b

test(4,5)

SyntaxError: * argument may appear only once (1830506116.py, line 1)

In [20]:
def info(**test):
    return test


info(name = 'riyan', age = 20)

{'name': ['riyan', 'amaan'], 'age': 20}

In [34]:
def test2(*a):
    print(a)
    
test2(a=5,b=10,c=15)

TypeError: test2() got an unexpected keyword argument 'a'

In [25]:
info(name='Riyan', age=20)

TypeError: info() got an unexpected keyword argument 'name'

In [30]:
def test3(name, **a):
    return name, a

In [31]:
test3('riyan', b=12)

('riyan', {'b': 12})

# Sepcial Functions

## lamda function:
1. lamda function aka an annonymous fuction/inline function
   - syntax: lamda variable: expresion
   - case-1 = lambda var1, var2... : oparation
   - case-2 lamda variable : o/p(True) if(1) else(false) o/p
   - example:
```python
res = lambda a : a**2
res(10)
```

In [36]:
# lamda function
res = lambda a : a**2
res(10)

100

In [40]:
res = lambda num : 'even' if num % 2 == 0 else 'odd'
res(13)

'odd'

### Case-1

**WAP to define a fuction which can calculate a square of any given value**

In [42]:
def square(num):
    return num**2

square(10)

100

In [43]:
# using lambda function

In [49]:
# ferabite to celcius

res = lambda temp : temp*1.8 +32

res(24)

75.2

**wap to perform addition operation**

In [52]:
addition = lambda num1,num2 : num1+num2

addition(10,20)

30

## Case - 2

**WAP to check weather the number is odd or not using lambda**

In [57]:
odd_even = lambda num: 'even' if num % 2 == 0 else 'odd'
num = int(input("Please enter a value: "))
odd_even(num)

Please enter a value:  12

'even'

In [58]:
num = int(input("Please enter a value: "))
odd_even(num)

Please enter a value:  12

'even'

In [59]:
num = int(input("Please enter a value: "))
res = odd_even(num)

print('The output is: ', res)

Please enter a value:  12

The output is:  even

**WAP to check weather a name starts with with a vowal or not, use lambda function**

In [61]:
vowal = 'aeiouAEIOU'
name = input("enter your name: ")
vo = lambda vol: 'name starte with a vowal' if name[0] in vowal else 'not allowed'

enter your name:  riyan

In [65]:
result = lambda name : "Yes" if name[0] in 'AEIOUaeiou' else "No"

result('riyan')

'No'


**WAP to calculate square of a number if is even or calculate cube use lambda fuction**

In [71]:
num = int(input("enter a number: "))

res = lambda num: num**2 if num % 2 == 0 else num**3 

print("output", res, num)

enter a number:  12

output <function <lambda> at 0x7f377555bc40> 12

**WAP to receive name and age amd check if name has length more than 3 and age is above 18 if both case are true then allow else not allowed**

In [75]:
name = input("Please enter your name: ")
age = int(input("Please enter your age: "))

check = lambda name,age: 'allowed' if len(name) >= 3 and age >= 18 else 'not allowed' 

print(check)

Please enter your name:  12
Please enter your age:  12

<function <lambda> at 0x7f377555b7e0>

In [77]:
li = [1,2,3,4,5]
res = [i**2 for i in li]

print(res)

[1, 4, 9, 16, 25]

# map() function
syntex: map(logic, collection) -> logic = user define function

In [78]:
# method1
logic = lambda num: num**2

result = map(logic, li)

list(result)

[1, 4, 9, 16, 25]

In [84]:
# method2

def sq(num):
    return num**2

res = map(sq,li)


print('the list is:', list(res))

print(res)

the list is: [1, 4, 9, 16, 25]
<map object at 0x7f3775c030a0>

**WAP display name which starts with char 'A' from the given list by using map**

In [98]:
li = ["Uwaish","Anu","Khan","Aisha"]

def name_check(name):
    if name[0].upper() == 'A':
        return "Yes"
    else:
        return "NO"
res = map(name_check, li)

list(res)

['NO', 'Yes', 'NO', 'Yes']

In [99]:
# Use map to conver result name into pass or fail

li = [19,30,56,78]

log = lambda num : 'Pass' if num >= 33 else 'fail'

res = map(log, li)

list(res)

['fail', 'fail', 'Pass', 'Pass']

# reduce

In [100]:
from functools import reduce

li = [1,2,3,4,5]

log = lambda a,b: a+b

reduce(log, li)

15